{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
      <dl>
        <dt>姓名:
        <dd><input type="text" size="30" name="username">
        <dt>报账金额:
        <dd><textarea name="apply_money" rows="5">0</textarea>
        <dd><textarea name="note" rows="5">买菜</textarea>
        <dd><input type="submit" value="Share">
      </dl>
    </form>
  {% endif %}
  <ul class="entries">
  {% for entry in entries %}
  <li><h2>{{ entry.username}}</h2>{{ entry.apply_money}}{{ entry.note}} 
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
